#define IDM_MAKE_ASSEMBLE		20002
#define IDM_MAKE_BUILD			20004
#define IDM_MAKE_GO				20005
#define IDM_MAKE_RUN			20006
#include "Res/RadLNGDlg.rc"
#include "Res/AboutDlg.rc"
#include "Res/AcceleratorDlg.rc"
#include "Res/AccelOptionDlg.rc"
#include "Res/AddVarDlg.rc"
#include "Res/BlockDlg.rc"
#include "Res/CreateTplDlg.rc"
#include "Res/DlgOptionDlg.rc"
#include "Res/EditOptionDlg.rc"
#include "Res/ExportIDDlg.rc"
#include "Res/ExternalFileDlg.rc"
#include "Res/FileAssociationDlg.rc"
#include "Res/FileBrowserDlg.rc"
#include "Res/FindDlg.rc"
#include "Res/FolderOptionDlg.rc"
#include "Res/FontOptionDlg.rc"
#include "Res/GotoDlg.rc"
#include "Res/HexFindDlg.rc"
#include "Res/KeyWordsDlg.rc"
#include "Res/LanguageDlg.rc"
#include "Res/MacroDlg.rc"
#include "Res/MainFilesDlg.rc"
#include "Res/MenuEditDlg.rc"
#include "Res/MenuOptionDlg.rc"
#include "Res/PrintOptionDlg.rc"
#include "Res/ProjectGroupsDlg.rc"
#include "Res/ProjectScanDlg.rc"
#include "Res/ProOptionDlg.rc"
#include "Res/PropertyDlg.rc"
#include "Res/ResourceDlg.rc"
#include "Res/SnipletOptionDlg.rc"
#include "Res/SnipletsDlg.rc"
#include "Res/StringTableDlg.rc"
#include "Res/ToolOptionsDlg.rc"
#include "Res/VerInfoDlg.rc"
#include "Res/Wiz1Dlg.rc"
#include "Res/Wiz2Dlg.rc"
#include "Res/Wiz3Dlg.rc"
#include "Res/Wiz4Dlg.rc"
#include "Res/WizImpDlg.rc"
#include "Res/MdiMenuMnu.rc"
#include "Res/ProMenuMnu.rc"
#include "Res/RadLNGRes.rc"
#include "Res/RadLNGStr.rc"
#include "Res/RadLNG1Dlg.rc"
#include "Res/RadLNG2Dlg.rc"
#include "Res/LanguageOptionDlg.rc"
#include "Res/RadLng3Dlg.rc"
#include "Res/RadLNGVer.rc"
#include "Res/ProgLanguageDlg.rc"
#include "Res/CustomControlsDlg.rc"
#include "Res/EnvironmentDlg.rc"
#include "Res/WizDlg.rc"
