#define IDD_MAIN 1000
#define IDC_REDDEBUG 1001
IDD_MAIN DIALOGEX 6,6,421,296
CAPTION "PDB Explore"
FONT 8,"MS Sans Serif",0,0
CLASS "PDBEXPLORE"
STYLE 0x16CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_REDDEBUG,"RichEdit20A",0x50300804,0,0,421,255,0x00000200
END
