#define IDD_DLG_RECORD 3400
IDD_DLG_RECORD DIALOGEX 0,0,114,16
CAPTION "RadASM Macro Recorder"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80800
EXSTYLE 0x00000088
BEGIN
  CONTROL "Stop",1,"Button",0x50010001,0,0,112,15,0x00000000
END
