#define IDR_MDIMENU 999
#define IDM_FILE_NEWPROJECT 40001
#define IDM_FILE_OPENPROJECT 40002
#define IDM_FILE_CLOSEPROJECT 40003
#define IDM_FILE_DELETEPROJECT 40013
#define IDM_FILE_NEWFILE 40004
#define IDM_FILE_OPENFILE 40005
#define IDM_FILE_OPENHEX 40014
#define IDM_FILE_REOPENFILE 41021
#define IDM_FILE_CLOSEFILE 40006
#define IDM_FILE_SAVEFILE 40007
#define IDM_FILE_SAVEFILEAS 40008
#define IDM_FILE_SAVEALLFILES 40009
#define IDM_FILE_RECENT 40990
#define IDM_FILE_PAGESETUP 40010
#define IDM_FILE_PRINT 40011
#define IDM_FILE_EXIT 40012
#define IDM_EDIT_UNDO 41001
#define IDM_EDIT_REDO 41002
#define IDM_EDIT_EMPTY_UNDO 41022
#define IDM_EDIT_CUT 41003
#define IDM_EDIT_COPY 41004
#define IDM_EDIT_PASTE 41005
#define IDM_EDIT_DELETE 41006
#define IDM_EDIT_SELECTALL 41007
#define IDM_EDIT_FIND 41008
#define IDM_EDIT_FINDNEXT 41009
#define IDM_EDIT_FINDPREVIOUS 41010
#define IDM_EDIT_REPLACE 41011
#define IDM_EDIT_GOTOLINE 41012
#define IDM_EDIT_FINDWORD 41101
#define IDM_EDIT_FIND_NEXT_WORD 41020
#define IDM_EDIT_FIND_PREV_WORD 44023
#define IDM_EDIT_FINDPROC 41102
#define IDM_EDIT_RETURN 41103
#define IDM_EDIT_BLOCK 44019
#define IDM_FORMAT_INDENT 43001
#define IDM_FORMAT_OUTDENT 43002
#define IDM_FORMAT_COMMENT 43003
#define IDM_FORMAT_UNCOMMENT 43004
#define IDM_FORMAT_CONVERT 43990
#define IDM_FORMAT_SPCTOTAB 43501
#define IDM_FORMAT_TABTOSPC 43502
#define IDM_FORMAT_UCASE 43503
#define IDM_FORMAT_LCASE 43504
#define IDM_FORMAT_TRIM 43505
#define IDM_EDIT_BLOCKMODE 44015
#define IDM_EDIT_BLOCK_INSERT 44020
#define IDM_EDIT_EXPANDBLOCK 41018
#define IDM_EDIT_HIDEBLOCK 43009
#define IDM_EDIT_BOOKMARK 44016
#define IDM_EDIT_TOGGLEBM 41104
#define IDM_EDIT_NEXTBM 41105
#define IDM_EDIT_PREVIOUSBM 41106
#define IDM_EDIT_CLEARBM 41107
#define IDM_EDIT_GOTOBM 41990
#define IDM_EDIT_GOTOBM0 41300
#define IDM_EDIT_GOTOBM1 41301
#define IDM_EDIT_GOTOBM2 41302
#define IDM_EDIT_GOTOBM3 41303
#define IDM_EDIT_GOTOBM4 41304
#define IDM_EDIT_GOTOBM5 41305
#define IDM_EDIT_GOTOBM6 41306
#define IDM_EDIT_GOTOBM7 41307
#define IDM_EDIT_GOTOBM8 41308
#define IDM_EDIT_GOTOBM9 41309
#define IDM_EDIT_BREAKPOINT 44017
#define IDM_EDIT_TOGGLEBP 41013
#define IDM_EDIT_CLEARBP 41014
#define IDM_EDIT_ADDVAR 41015
#define IDM_EDIT_ERROR 44018
#define IDM_EDIT_NEXTERROR 41016
#define IDM_EDIT_CLEARERRORS 41017
#define IDM_EDIT_OPEN 41019
#define IDM_VIEW_TOOLBAR 42001
#define IDM_VIEW_TOOLBOX 42002
#define IDM_VIEW_OUTPUTWINDOW 42003
#define IDM_VIEW_PROJECTBROWSER 42004
#define IDM_VIEW_PROPERTIES 42005
#define IDM_VIEW_TABTOOL 42006
#define IDM_VIEW_INFOTOOL 42008
#define IDM_VIEW_STATUSBAR 42007
#define IDM_VIEW_FULLSCREEN 44026
#define IDM_FORMAT_LOCKCONTROLS 43005
#define IDM_FORMAT_SENDTOBACK 43006
#define IDM_FORMAT_BRINGTOFRONT 43007
#define IDM_FORMAT_SHOWGRID 43008
#define IDM_FORMAT_ALIGN 43991
#define IDM_FORMAT_ALIGN_LEFT 43901
#define IDM_FORMAT_ALIGN_CENTER 43902
#define IDM_FORMAT_ALIGN_RIGHT 43903
#define IDM_FORMAT_ALIGN_TOP 43904
#define IDM_FORMAT_ALIGN_MIDDLE 43905
#define IDM_FORMAT_ALIGN_BOTTOM 43906
#define IDM_FORMAT_SIZE 43992
#define IDM_FORMAT_SIZE_WIDTH 43911
#define IDM_FORMAT_SIZE_HEIGHT 43912
#define IDM_FORMAT_SIZE_BOTH 43913
#define IDM_FORMAT_CENTER 44028
#define IDM_FORMAT_CENTER_HOR 44029
#define IDM_FORMAT_CENTER_VER 44030
#define IDM_FORMAT_TABINDEX 44031
#define IDM_PROJECT_ADDNEW 44990
#define IDM_PROJECT_ADDNEWASM 44101
#define IDM_PROJECT_ADDNEWINC 44102
#define IDM_PROJECT_ADDNEWRC 44103
#define IDM_PROJECT_ADDNEWTXT 44104
#define IDM_PROJECT_ADDNEWDIALOG 44105
#define IDM_PROJECT_ADDNEWMENU 44106
#define IDM_PROJECT_ADDNEWMODULE 44107
#define IDM_PROJECT_ADDNEWFILE 44108
#define IDM_PROJECT_ADDEXISTING 44991
#define IDM_PROJECT_ADDEXISTINGFILE 44201
#define IDM_PROJECT_ADDEXISTINGDIALOG 44202
#define IDM_PROJECT_ADDEXISTINGMENU 44203
#define IDM_PROJECT_ADDEXISTINGOBJ 44205
#define IDM_PROJECT_ADDEXISTINGMODULE 44206
#define IDM_PROJECT_ADDEXISTINGOPEN 44033
#define IDM_PROJECT_ACCELERATOR 44011
#define IDM_PROJECT_RESOURCE 44001
#define IDM_PROJECT_STRINGTABLE 44007
#define IDM_PROJECT_VERINF 44002
#define IDM_PROJECT_LANGUAGE 44013
#define IDM_PROJECT_REMOVE 44004
#define IDM_PROJECT_SET_ASSEMBLER 44992
#define IDM_PROJECT_GROUPS 44010
#define IDM_PROJECT_OPTIONS 44006
#define IDM_PROJECT_MAINFILES 44009
#define IDM_PROJECT_REFRESH 44008
#define IDM_PROJECT_SCANPROJECT 44012
#define IDM_PROJECT_EXPORTTOOUTPUT 44003
#define IDM_PROJECT_TEMPLATE 44005
#define IDM_PROJECT_TLINK 44993
#define IDM_TLINK_NOTE 44701
#define IDM_TLINK_BUG 44702
#define IDM_TLINK_TODO 44703
#define IDM_TOOLS_SNIPLETS 46001
#define IDM_TOOLS_EXPORT 46002
#define IDM_WINDOW_SPLIT 47009
#define IDM_WINDOW_CLOSE 47001
#define IDM_WINDOW_CLOSEALL 47002
#define IDM_WINDOW_CLOSEALLBUT 44032
#define IDM_WINDOW_NEXTWINDOW 47003
#define IDM_WINDOW_PREVIOUS 47004
#define IDM_WINDOW_EDIT 47013
#define IDM_WINDOW_PROJECT 47014
#define IDM_WINDOW_PROPERTY 47015
#define IDM_WINDOW_OUTPUT 47016
#define IDM_WINDOW_TILEHOR 47005
#define IDM_WINDOW_TILEVER 47006
#define IDM_WINDOW_CASCADE 47007
#define IDM_WINDOW_ARRANGEICONS 47008
#define IDM_WINDOW_MAXIMIZE 47010
#define IDM_WINDOW_RESTORE 47011
#define IDM_WINDOW_MINIMIZE 47012
#define IDM_OPTION_LANGUAGE 44022
#define IDM_OPTION_PROGLANGUAGE 44024
#define IDM_OPTION_EDIT 48003
#define IDM_OPTION_COLORS 48001
#define IDM_OPTION_DIALOG 48004
#define IDM_OPTION_CUSTCTRL 44025
#define IDM_OPTION_PRNCOLOR 48015
#define IDM_OPTION_FONTS 44014
#define IDM_OPTION_ACCEL 48017
#define IDM_OPTION_FILEASS 44021
#define IDM_OPTION_FILEBROWSER 48012
#define IDM_OPTION_EXTERNALFILE 48013
#define IDM_OPTION_SNIPLET 48005
#define IDM_OPTION_PATHS 48006
#define IDM_OPTION_ENVIRONMENT 44027
#define IDM_OPTION_TOOLWINDOWS 48011
#define IDM_OPTION_MAKEMNU 48007
#define IDM_OPTION_TOOLMNU 48008
#define IDM_OPTION_HELPMNU 48009
#define IDM_MACRO_RECORD 46301
#define IDM_MACRO_MANAGE 46303
#define IDM_HELP_ABOUT 49001
IDR_MDIMENU MENUEX
BEGIN
  POPUP "&File",49900
  BEGIN
    MENUITEM "&New Project\tCtrl+Shift+N",IDM_FILE_NEWPROJECT
    MENUITEM "&Open Project\tCtrl+Shift+O",IDM_FILE_OPENPROJECT
    MENUITEM "&Close Project\tCtrl+Shift+C",IDM_FILE_CLOSEPROJECT
    MENUITEM "&Delete Project",IDM_FILE_DELETEPROJECT
    MENUITEM "",,0x00000800
    MENUITEM "Ne&w File\tCtrl+N",IDM_FILE_NEWFILE
    MENUITEM "O&pen File\tCtrl+O",IDM_FILE_OPENFILE
    MENUITEM "Open as &Hex\tCtrl+H",IDM_FILE_OPENHEX
    MENUITEM "&Reopen File\tCtrl+Shift+R",IDM_FILE_REOPENFILE
    MENUITEM "Clos&e File\tCtrl+F4",IDM_FILE_CLOSEFILE
    MENUITEM "&Save File\tCtrl+S",IDM_FILE_SAVEFILE
    MENUITEM "Save File &As\tCtrl+Shift+A",IDM_FILE_SAVEFILEAS
    MENUITEM "Save All &Files\tCtrl+Shift+S",IDM_FILE_SAVEALLFILES
    POPUP "&Recent Files",IDM_FILE_RECENT
    BEGIN
      MENUITEM "(Empty)",21000,,0x00000001
    END
    MENUITEM "",,0x00000800
    MENUITEM "Page Setup",IDM_FILE_PAGESETUP
    MENUITEM "Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
    MENUITEM "",,0x00000800
  END
  POPUP "&Edit",49901
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "Empty Undo Buffer\tCtrl+Shift+E",IDM_EDIT_EMPTY_UNDO
    MENUITEM "",,0x00000800
    MENUITEM "C&ut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Select All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "&Find\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find &Next\tF3",IDM_EDIT_FINDNEXT
    MENUITEM "Find &Previous\tCtrl+F3",IDM_EDIT_FINDPREVIOUS
    MENUITEM "&Replace\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM "",,0x00000800
    MENUITEM "&Goto Line\tCtrl+G",IDM_EDIT_GOTOLINE
    MENUITEM "Find &Word\tShift+F2",IDM_EDIT_FINDWORD
    MENUITEM "Find Next Word\tCtrl+Shift+F2",IDM_EDIT_FIND_NEXT_WORD
    MENUITEM "Find Previous Word\tAlt+F2",IDM_EDIT_FIND_PREV_WORD
    MENUITEM "",,0x00000800
    MENUITEM "F&ind Declare\tF2",IDM_EDIT_FINDPROC
    MENUITEM "R&eturn\tCtrl+F2",IDM_EDIT_RETURN
    MENUITEM "",,0x00000800
    POPUP "Block",IDM_EDIT_BLOCK
    BEGIN
      MENUITEM "&Indent\tF9",IDM_FORMAT_INDENT
      MENUITEM "&Outdent\tCtrl+F9",IDM_FORMAT_OUTDENT
      MENUITEM "&Comment\tAlt+F9",IDM_FORMAT_COMMENT
      MENUITEM "&Uncomment\tAlt+Ctrl+F9",IDM_FORMAT_UNCOMMENT
      POPUP "Con&vert",IDM_FORMAT_CONVERT
      BEGIN
        MENUITEM "Spaces To &Tab",IDM_FORMAT_SPCTOTAB
        MENUITEM "Tab To &Spaces",IDM_FORMAT_TABTOSPC
        MENUITEM "&Uppercase",IDM_FORMAT_UCASE
        MENUITEM "&Lowercase",IDM_FORMAT_LCASE
        MENUITEM "T&rim Trailing Spaces",IDM_FORMAT_TRIM
      END
      MENUITEM "&Block / Column Mode\tCtrl+B",IDM_EDIT_BLOCKMODE
      MENUITEM "Block Insert / &Replace",IDM_EDIT_BLOCK_INSERT
      MENUITEM "&Expand Block\tCtrl+E",IDM_EDIT_EXPANDBLOCK
      MENUITEM "&Hide / Unhide Block",IDM_EDIT_HIDEBLOCK
    END
    POPUP "Bookmark",IDM_EDIT_BOOKMARK
    BEGIN
      MENUITEM "&Toggle BookMark\tShift+F8",IDM_EDIT_TOGGLEBM
      MENUITEM "&Next BookMark\tF8",IDM_EDIT_NEXTBM
      MENUITEM "&Previous BookMark\tCtrl+F8",IDM_EDIT_PREVIOUSBM
      MENUITEM "&Clear BookMarks\tCtrl+Shift+F8",IDM_EDIT_CLEARBM
      POPUP "Named BookMarks\tCtrl+0..9",IDM_EDIT_GOTOBM
      BEGIN
        MENUITEM "BookMark &0\tCtrl+0",IDM_EDIT_GOTOBM0
        MENUITEM "BookMark &1\tCtrl+1",IDM_EDIT_GOTOBM1
        MENUITEM "BookMark &2\tCtrl+2",IDM_EDIT_GOTOBM2
        MENUITEM "BookMark &3\tCtrl+3",IDM_EDIT_GOTOBM3
        MENUITEM "BookMark &4\tCtrl+4",IDM_EDIT_GOTOBM4
        MENUITEM "BookMark &5\tCtrl+5",IDM_EDIT_GOTOBM5
        MENUITEM "BookMark &6\tCtrl+6",IDM_EDIT_GOTOBM6
        MENUITEM "BookMark &7\tCtrl+7",IDM_EDIT_GOTOBM7
        MENUITEM "BookMark &8\tCtrl+8",IDM_EDIT_GOTOBM8
        MENUITEM "BookMark &9\tCtrl+9",IDM_EDIT_GOTOBM9
      END
    END
    POPUP "Break Point",IDM_EDIT_BREAKPOINT
    BEGIN
      MENUITEM "&Toggle BreakPoint\tAlt+F8",IDM_EDIT_TOGGLEBP
      MENUITEM "&Clear BreakPoints\tAlt+Ctrl+F8",IDM_EDIT_CLEARBP
      MENUITEM "Add &Variable\tAlt+Shift+F8",IDM_EDIT_ADDVAR
    END
    POPUP "Error",IDM_EDIT_ERROR
    BEGIN
      MENUITEM "&Next Error\tShift+F3",IDM_EDIT_NEXTERROR
      MENUITEM "&Clear Errors\tCtrl+Shift+F3",IDM_EDIT_CLEARERRORS
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Open\tAlt+Ctrl+O",IDM_EDIT_OPEN
  END
  POPUP "&View",49902
  BEGIN
    MENUITEM "&ToolBar",IDM_VIEW_TOOLBAR
    MENUITEM "Tool&Box",IDM_VIEW_TOOLBOX
    MENUITEM "&Output Window",IDM_VIEW_OUTPUTWINDOW
    MENUITEM "&Project Browser",IDM_VIEW_PROJECTBROWSER
    MENUITEM "P&roperties",IDM_VIEW_PROPERTIES
    MENUITEM "Tab S&elect",IDM_VIEW_TABTOOL
    MENUITEM "&Info Tool",IDM_VIEW_INFOTOOL
    MENUITEM "&StatusBar",IDM_VIEW_STATUSBAR
    MENUITEM "&Full Screen\tCtrl+W",IDM_VIEW_FULLSCREEN
  END
  POPUP "Fo&rmat",49903
  BEGIN
    MENUITEM "&Lock Controls",IDM_FORMAT_LOCKCONTROLS
    MENUITEM "&Send To Back",IDM_FORMAT_SENDTOBACK
    MENUITEM "&Bring To Front",IDM_FORMAT_BRINGTOFRONT
    MENUITEM "Show &Grid",IDM_FORMAT_SHOWGRID
    MENUITEM "",,0x00000800
    POPUP "&Align",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "&Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "&Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "&Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "&Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "&Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "&Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Same Si&ze",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "&Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "&Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "&Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "&Center in Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "&Horizontal",IDM_FORMAT_CENTER_HOR
      MENUITEM "&Vertical",IDM_FORMAT_CENTER_VER
    END
    MENUITEM "Set tabindexes",IDM_FORMAT_TABINDEX
  END
  POPUP "&Project",49904
  BEGIN
    POPUP "Add &New",IDM_PROJECT_ADDNEW
    BEGIN
      MENUITEM "&Source / Asm File",IDM_PROJECT_ADDNEWASM
      MENUITEM "&Header / Inc File",IDM_PROJECT_ADDNEWINC
      MENUITEM "&Rc File",IDM_PROJECT_ADDNEWRC
      MENUITEM "&Txt File",IDM_PROJECT_ADDNEWTXT
      MENUITEM "&Dialog",IDM_PROJECT_ADDNEWDIALOG
      MENUITEM "&Menu",IDM_PROJECT_ADDNEWMENU
      MENUITEM "Mod&ule",IDM_PROJECT_ADDNEWMODULE
      MENUITEM "&File",IDM_PROJECT_ADDNEWFILE
    END
    POPUP "Add &Existing",IDM_PROJECT_ADDEXISTING
    BEGIN
      MENUITEM "&Files",IDM_PROJECT_ADDEXISTINGFILE
      MENUITEM "&Dialogs",IDM_PROJECT_ADDEXISTINGDIALOG
      MENUITEM "&Menu",IDM_PROJECT_ADDEXISTINGMENU
      MENUITEM "&Object Files",IDM_PROJECT_ADDEXISTINGOBJ
      MENUITEM "Mod&ules",IDM_PROJECT_ADDEXISTINGMODULE
      MENUITEM "&Current Open File",IDM_PROJECT_ADDEXISTINGOPEN
    END
    MENUITEM "&Accelerator",IDM_PROJECT_ACCELERATOR
    MENUITEM "&Resource",IDM_PROJECT_RESOURCE
    MENUITEM "&Stringtable",IDM_PROJECT_STRINGTABLE
    MENUITEM "&Versioninfo",IDM_PROJECT_VERINF
    MENUITEM "&Language",IDM_PROJECT_LANGUAGE
    MENUITEM "Remove &From Project",IDM_PROJECT_REMOVE
    MENUITEM "",,0x00000800
    POPUP "Set Assembler",IDM_PROJECT_SET_ASSEMBLER
    BEGIN
      MENUITEM "(Empty)",23000,,0x00000001
    END
    MENUITEM "Project &Groups",IDM_PROJECT_GROUPS
    MENUITEM "&Project Options",IDM_PROJECT_OPTIONS
    MENUITEM "&Main Project Files",IDM_PROJECT_MAINFILES
    MENUITEM "Refres&h Properties",IDM_PROJECT_REFRESH
    MENUITEM "Scan Project",IDM_PROJECT_SCANPROJECT
    MENUITEM "Export To &Output",IDM_PROJECT_EXPORTTOOUTPUT
    MENUITEM "",,0x00000800
    MENUITEM "&Create Template",IDM_PROJECT_TEMPLATE
    POPUP "Create &Text Link",IDM_PROJECT_TLINK
    BEGIN
      MENUITEM "&Note",IDM_TLINK_NOTE
      MENUITEM "&Bug",IDM_TLINK_BUG
      MENUITEM "&Todo",IDM_TLINK_TODO
    END
  END
  POPUP "&Make",49905
  BEGIN
    MENUITEM "(Empty)",45000,,0x00000001
  END
  POPUP "&Tools",49906
  BEGIN
    MENUITEM "&Sniplets\tF11",IDM_TOOLS_SNIPLETS
    MENUITEM "&Export ID Equ's\tCtrl+F11",IDM_TOOLS_EXPORT
    MENUITEM "",,0x00000800
  END
  POPUP "&Window",49907
  BEGIN
    MENUITEM "&Split / Close Split\tF4",IDM_WINDOW_SPLIT
    MENUITEM "Close &Window\tCtrl+F4",IDM_WINDOW_CLOSE
    MENUITEM "Close &All\tCtrl+Shift+F4",IDM_WINDOW_CLOSEALL
    MENUITEM "Close All &But Current",IDM_WINDOW_CLOSEALLBUT
    MENUITEM "",,0x00000800
    MENUITEM "&Next Window\tF6",IDM_WINDOW_NEXTWINDOW
    MENUITEM "&Previous Window\tCtrl+F6",IDM_WINDOW_PREVIOUS
    MENUITEM "Goto Window\tAlt+0..9",41401
    MENUITEM "Goto Edit\tF12",IDM_WINDOW_EDIT
    MENUITEM "Goto Project\tCtrl+F12",IDM_WINDOW_PROJECT
    MENUITEM "Goto Property\tShift+F12",IDM_WINDOW_PROPERTY
    MENUITEM "Goto Output\tCtrl+Shift+F12",IDM_WINDOW_OUTPUT
    MENUITEM "",,0x00000800
    MENUITEM "Tile &Horizontal\tF7",IDM_WINDOW_TILEHOR
    MENUITEM "Tile &Vertical\tCtrl+F7",IDM_WINDOW_TILEVER
    MENUITEM "&Cascade\tShift+F7",IDM_WINDOW_CASCADE
    MENUITEM "Arrange &Icons\tCtrl+Shift+F7",IDM_WINDOW_ARRANGEICONS
    MENUITEM "",,0x00000800
    MENUITEM "&Maximize\tAlt+F7",IDM_WINDOW_MAXIMIZE
    MENUITEM "&Restore\tAlt+Ctrl+F7",IDM_WINDOW_RESTORE
    MENUITEM "Minimi&ze\tAlt+Shift+F7",IDM_WINDOW_MINIMIZE
  END
  POPUP "&Option",49908
  BEGIN
    MENUITEM "&Language",IDM_OPTION_LANGUAGE
    MENUITEM "&Programming Languages",IDM_OPTION_PROGLANGUAGE
    MENUITEM "Code &Editor Options",IDM_OPTION_EDIT
    MENUITEM "&Colors && KeyWords",IDM_OPTION_COLORS
    MENUITEM "&Dialog Editor Options",IDM_OPTION_DIALOG
    MENUITEM "C&ustom Controls",IDM_OPTION_CUSTCTRL
    MENUITEM "Pri&nter Options",IDM_OPTION_PRNCOLOR
    MENUITEM "&Font Options",IDM_OPTION_FONTS
    MENUITEM "&Menu Accelerators",IDM_OPTION_ACCEL
    MENUITEM "",,0x00000800
    MENUITEM "File &Association",IDM_OPTION_FILEASS
    MENUITEM "File &Browser",IDM_OPTION_FILEBROWSER
    MENUITEM "E&xternal File Types",IDM_OPTION_EXTERNALFILE
    MENUITEM "&Sniplets",IDM_OPTION_SNIPLET
    MENUITEM "Set &Paths",IDM_OPTION_PATHS
    MENUITEM "Environment &Variables",IDM_OPTION_ENVIRONMENT
    MENUITEM "Tool &Windows",IDM_OPTION_TOOLWINDOWS
    MENUITEM "",,0x00000800
    MENUITEM "&Make Menu",IDM_OPTION_MAKEMNU
    MENUITEM "&Tools Menu",IDM_OPTION_TOOLMNU
    MENUITEM "&Help Menu",IDM_OPTION_HELPMNU
  END
  POPUP "M&acro",49909
  BEGIN
    MENUITEM "&Record",IDM_MACRO_RECORD
    MENUITEM "&Manage",IDM_MACRO_MANAGE
    MENUITEM "",,0x00000800
  END
  POPUP "&Help",49910
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
  END
END
