#define IDR_PROMENU 998
#define IDM_FILE_NEWPROJECT 40001
#define IDM_FILE_OPENPROJECT 40002
#define IDM_FILE_CLOSEPROJECT 40003
#define IDM_FILE_DELETEPROJECT 40013
#define IDM_PROJECT_ADDNEW 44990
#define IDM_PROJECT_ADDNEWMODULE 44107
#define IDM_PROJECT_ADDNEWFILE 44108
#define IDM_PROJECT_ADDEXISTING 44991
#define IDM_PROJECT_ADDEXISTINGOPEN 44033
#define IDM_PROJECT_REFRESH 44008
#define IDM_PROMNU_FILEPROP 50001
#define IDM_PROMNU_REMOVE 50002
#define IDM_PROMNU_RENAME 50024
#define IDM_PROMNU_LOCK 50003
#define IDM_PROMNU_COPY 50014
#define IDM_OUTPUT_OPEN 50005
#define IDM_OUTPUT_SAVE 50006
#define IDM_OUTPUT_UNDO 50007
#define IDM_OUTPUT_REDO 50008
#define IDM_OUTPUT_CUT 50101
#define IDM_OUTPUT_COPY 50102
#define IDM_OUTPUT_PASTE 50103
#define IDM_OUTPUT_DELETE 50104
#define IDM_OUTPUT_COPYALL 50106
#define IDM_OUTPUT_CUTALL 50107
#define IDM_OUTPUT_CLEAR 50105
#define IDM_EDIT_UNDO 41001
#define IDM_EDIT_CUT 41003
#define IDM_EDIT_COPY 41004
#define IDM_EDIT_PASTE 41005
#define IDM_EDIT_DELETE 41006
#define IDM_FORMAT_LOCKCONTROLS 43005
#define IDM_FORMAT_SENDTOBACK 43006
#define IDM_FORMAT_BRINGTOFRONT 43007
#define IDM_FORMAT_SHOWGRID 43008
#define IDM_FORMAT_ALIGN 43991
#define IDM_FORMAT_ALIGN_LEFT 43901
#define IDM_FORMAT_ALIGN_CENTER 43902
#define IDM_FORMAT_ALIGN_RIGHT 43903
#define IDM_FORMAT_ALIGN_TOP 43904
#define IDM_FORMAT_ALIGN_MIDDLE 43905
#define IDM_FORMAT_ALIGN_BOTTOM 43906
#define IDM_FORMAT_SIZE 43992
#define IDM_FORMAT_SIZE_WIDTH 43911
#define IDM_FORMAT_SIZE_HEIGHT 43912
#define IDM_FORMAT_SIZE_BOTH 43913
#define IDM_FORMAT_CENTER 44028
#define IDM_FORMAT_CENTER_HOR 44029
#define IDM_FORMAT_CENTER_VER 44030
#define IDM_FORMAT_TABINDEX 44031
#define IDM_FILE_CUT 50009
#define IDM_FILE_COPY 50010
#define IDM_FILE_PASTE 50011
#define IDM_FILE_DELETE 50012
#define IDM_FILE_RENAME 50013
#define IDM_FILE_COPYNAME 50015
#define IDM_FILE_EXPLORE 50023
#define IDM_PROPERTY_GOTO 50016
#define IDM_PROPERTY_SCAN 50021
#define IDM_PROPERTY_FIND 50018
#define IDM_PROPERTY_FINDNEXT 50019
#define IDM_PROPERTY_FINDPREV 50020
#define IDM_PROPERTY_COPY 50017
#define IDM_PROPERTY_PROTO 50022
#define IDM_GROUPEXPAND 50025
#define IDM_GROUPCOLLAPSE 50026
#define IDM_GROUPADD 50029
#define IDM_GROUPDELETE 50028
#define IDM_GROUPEDIT 50027
IDR_PROMENU MENUEX
BEGIN
  POPUP "Project"
  BEGIN
    MENUITEM "&New Project\tCtrl+Shift+N",IDM_FILE_NEWPROJECT
    MENUITEM "&Open Project\tCtrl+Shift+O",IDM_FILE_OPENPROJECT
    MENUITEM "&Close Project\tCtrl+Shift+C",IDM_FILE_CLOSEPROJECT
    MENUITEM "&Delete project\tCtrl+Shift+D",IDM_FILE_DELETEPROJECT
    MENUITEM "",,0x00000800
    POPUP "Add New",IDM_PROJECT_ADDNEW
    BEGIN
      MENUITEM "&Asm File",44101
      MENUITEM "&Inc File",44102
      MENUITEM "&Rc File",44103
      MENUITEM "&Txt File",44104
      MENUITEM "&Dialog",44105
      MENUITEM "&Menu",44106
      MENUITEM "Mod&ule",IDM_PROJECT_ADDNEWMODULE
      MENUITEM "&File",IDM_PROJECT_ADDNEWFILE
    END
    POPUP "Add Existing",IDM_PROJECT_ADDEXISTING
    BEGIN
      MENUITEM "&Files",44201
      MENUITEM "&Dialogs",44202
      MENUITEM "&Menus",44203
      MENUITEM "&Object Files",44205
      MENUITEM "Mod&ules",44206
      MENUITEM "&Current Open File",IDM_PROJECT_ADDEXISTINGOPEN
    END
    MENUITEM "",,0x00000800
    MENUITEM "Project &Groups",44010
    MENUITEM "Refresh &Project Properties",IDM_PROJECT_REFRESH
    MENUITEM "Refresh &File Properties",IDM_PROMNU_FILEPROP
    MENUITEM "",,0x00000800
    MENUITEM "&Remove From Project",IDM_PROMNU_REMOVE
    MENUITEM "Rena&me File",IDM_PROMNU_RENAME
    MENUITEM "&Lock / Unlock File",IDM_PROMNU_LOCK
    MENUITEM "&Copy name to code",IDM_PROMNU_COPY
  END
  POPUP "Output"
  BEGIN
    MENUITEM "Open File",IDM_OUTPUT_OPEN
    MENUITEM "Save File As",IDM_OUTPUT_SAVE
    MENUITEM "",,0x00000800
    MENUITEM "Undo\tCtrl+Z",IDM_OUTPUT_UNDO
    MENUITEM "Redo\tCtrl+Y",IDM_OUTPUT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_OUTPUT_CUT
    MENUITEM "Copy\tCtrl+C",IDM_OUTPUT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_OUTPUT_PASTE
    MENUITEM "Delete\tDel",IDM_OUTPUT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Copy All",IDM_OUTPUT_COPYALL
    MENUITEM "Cut All",IDM_OUTPUT_CUTALL
    MENUITEM "",,0x00000800
    MENUITEM "Clear",IDM_OUTPUT_CLEAR
  END
  POPUP "Dialog"
  BEGIN
    MENUITEM "Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "",,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Lock controls",IDM_FORMAT_LOCKCONTROLS
    MENUITEM "Send to Back",IDM_FORMAT_SENDTOBACK
    MENUITEM "Bring to Front",IDM_FORMAT_BRINGTOFRONT
    MENUITEM "Show Grid",IDM_FORMAT_SHOWGRID
    MENUITEM "",,0x00000800
    POPUP "Align",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Same Size",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "Center in Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "Horizontal",IDM_FORMAT_CENTER_HOR
      MENUITEM "Vertical",IDM_FORMAT_CENTER_VER
    END
    MENUITEM "Set tabindexes",IDM_FORMAT_TABINDEX
  END
  POPUP "File"
  BEGIN
    MENUITEM "Cut",IDM_FILE_CUT
    MENUITEM "Copy",IDM_FILE_COPY
    MENUITEM "Paste",IDM_FILE_PASTE
    MENUITEM "Delete",IDM_FILE_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Rename",IDM_FILE_RENAME
    MENUITEM "",,0x00000800
    MENUITEM "Copy name to code",IDM_FILE_COPYNAME
    MENUITEM "Explore",IDM_FILE_EXPLORE
  END
  POPUP "Properties"
  BEGIN
    MENUITEM "&Goto Declare",IDM_PROPERTY_GOTO
    MENUITEM "&Scan Project",IDM_PROPERTY_SCAN
    MENUITEM "",,0x00000800
    MENUITEM "Find",IDM_PROPERTY_FIND
    MENUITEM "Find Next",IDM_PROPERTY_FINDNEXT
    MENUITEM "Find Previous",IDM_PROPERTY_FINDPREV
    MENUITEM "",,0x00000800
    MENUITEM "Copy to code",IDM_PROPERTY_COPY
    MENUITEM "Create proto",IDM_PROPERTY_PROTO
  END
  POPUP "Group"
  BEGIN
    MENUITEM "Expand All",IDM_GROUPEXPAND
    MENUITEM "Collapse All",IDM_GROUPCOLLAPSE
    MENUITEM "",,0x00000800
    MENUITEM "Add Group",IDM_GROUPADD
    MENUITEM "Delete Group",IDM_GROUPDELETE
    MENUITEM "Edit Group",IDM_GROUPEDIT
  END
END
