#define IDR_MAINACCEL					105
IDR_MAINACCEL ACCELERATORS DISCARDABLE
BEGIN
  48,IDM_EDIT_GOTOBM0,VIRTKEY,NOINVERT,CONTROL
  49,IDM_EDIT_GOTOBM1,VIRTKEY,NOINVERT,CONTROL
  50,IDM_EDIT_GOTOBM2,VIRTKEY,NOINVERT,CONTROL
  51,IDM_EDIT_GOTOBM3,VIRTKEY,NOINVERT,CONTROL
  52,IDM_EDIT_GOTOBM4,VIRTKEY,NOINVERT,CONTROL
  53,IDM_EDIT_GOTOBM5,VIRTKEY,NOINVERT,CONTROL
  54,IDM_EDIT_GOTOBM6,VIRTKEY,NOINVERT,CONTROL
  55,IDM_EDIT_GOTOBM7,VIRTKEY,NOINVERT,CONTROL
  56,IDM_EDIT_GOTOBM8,VIRTKEY,NOINVERT,CONTROL
  57,IDM_EDIT_GOTOBM9,VIRTKEY,NOINVERT,CONTROL
  49,IDM_TAB1,VIRTKEY,NOINVERT,ALT
  50,IDM_TAB2,VIRTKEY,NOINVERT,ALT
  51,IDM_TAB3,VIRTKEY,NOINVERT,ALT
  52,IDM_TAB4,VIRTKEY,NOINVERT,ALT
  53,IDM_TAB5,VIRTKEY,NOINVERT,ALT
  54,IDM_TAB6,VIRTKEY,NOINVERT,ALT
  55,IDM_TAB7,VIRTKEY,NOINVERT,ALT
  56,IDM_TAB8,VIRTKEY,NOINVERT,ALT
  57,IDM_TAB9,VIRTKEY,NOINVERT,ALT
  48,IDM_TAB10,VIRTKEY,NOINVERT,ALT
  78,IDM_FILE_NEWPROJECT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  79,IDM_FILE_OPENPROJECT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  67,IDM_FILE_CLOSEPROJECT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  68,IDM_FILE_DELETEPROJECT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  78,IDM_FILE_NEWFILE,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPENFILE,VIRTKEY,NOINVERT,CONTROL
  72,IDM_FILE_OPENHEX,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVEFILE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVEALLFILES,VIRTKEY,NOINVERT,SHIFT,CONTROL
  65,IDM_FILE_SAVEFILEAS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  80,IDM_FILE_PRINT,VIRTKEY,NOINVERT,CONTROL
  70,IDM_EDIT_FIND,VIRTKEY,NOINVERT,CONTROL
  71,IDM_EDIT_GOTOLINE,VIRTKEY,NOINVERT,CONTROL
  82,IDM_EDIT_REPLACE,VIRTKEY,NOINVERT,CONTROL
  69,IDM_EDIT_EXPANDBLOCK,VIRTKEY,NOINVERT,CONTROL
  79,IDM_EDIT_OPEN,VIRTKEY,NOINVERT,CONTROL,ALT
  112,IDM_HELPF1,VIRTKEY,NOINVERT
  112,IDM_HELPCF1,VIRTKEY,NOINVERT,CONTROL
  112,IDM_HELPSF1,VIRTKEY,NOINVERT,SHIFT
  112,IDM_HELPCSF1,VIRTKEY,NOINVERT,SHIFT,CONTROL
  113,IDM_EDIT_FINDPROC,VIRTKEY,NOINVERT
  113,IDM_EDIT_RETURN,VIRTKEY,NOINVERT,CONTROL
  113,IDM_EDIT_FINDWORD,VIRTKEY,NOINVERT,SHIFT
  114,IDM_EDIT_FINDNEXT,VIRTKEY,NOINVERT
  114,IDM_EDIT_FINDPREVIOUS,VIRTKEY,NOINVERT,CONTROL
  114,IDM_EDIT_NEXTERROR,VIRTKEY,NOINVERT,SHIFT
  114,IDM_EDIT_CLEARERRORS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  115,IDM_WINDOW_SPLIT,VIRTKEY,NOINVERT
  115,IDM_WINDOW_CLOSE,VIRTKEY,NOINVERT,CONTROL
  115,IDM_WINDOW_CLOSEALL,VIRTKEY,NOINVERT,SHIFT,CONTROL
  117,IDM_WINDOW_NEXTWINDOW,VIRTKEY,NOINVERT
  9,IDM_WINDOW_NEXTWINDOW,VIRTKEY,NOINVERT,CONTROL
  117,IDM_WINDOW_PREVIOUS,VIRTKEY,NOINVERT,CONTROL
  9,IDM_WINDOW_PREVIOUS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  118,IDM_WINDOW_TILEHOR,VIRTKEY,NOINVERT
  118,IDM_WINDOW_TILEVER,VIRTKEY,NOINVERT,CONTROL
  118,IDM_WINDOW_CASCADE,VIRTKEY,NOINVERT,SHIFT
  118,IDM_WINDOW_ARRANGEICONS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  118,IDM_WINDOW_MAXIMIZE,VIRTKEY,NOINVERT,ALT
  118,IDM_WINDOW_RESTORE,VIRTKEY,NOINVERT,CONTROL,ALT
  118,IDM_WINDOW_MINIMIZE,VIRTKEY,NOINVERT,SHIFT,ALT
  119,IDM_EDIT_NEXTBM,VIRTKEY,NOINVERT
  119,IDM_EDIT_PREVIOUSBM,VIRTKEY,NOINVERT,CONTROL
  119,IDM_EDIT_TOGGLEBM,VIRTKEY,NOINVERT,SHIFT
  119,IDM_EDIT_CLEARBM,VIRTKEY,NOINVERT,SHIFT,CONTROL
  119,IDM_EDIT_TOGGLEBP,VIRTKEY,NOINVERT,ALT
  119,IDM_EDIT_CLEARBP,VIRTKEY,NOINVERT,CONTROL,ALT
  119,IDM_EDIT_ADDVAR,VIRTKEY,NOINVERT,SHIFT,ALT
  120,IDM_FORMAT_INDENT,VIRTKEY,NOINVERT
  120,IDM_FORMAT_OUTDENT,VIRTKEY,NOINVERT,CONTROL
  120,IDM_FORMAT_COMMENT,VIRTKEY,NOINVERT,ALT
  120,IDM_FORMAT_UNCOMMENT,VIRTKEY,NOINVERT,CONTROL,ALT
  122,IDM_TOOLS_SNIPLETS,VIRTKEY,NOINVERT
  122,IDM_TOOLS_EXPORT,VIRTKEY,NOINVERT,CONTROL
  123,IDM_WINDOW_EDIT,VIRTKEY,NOINVERT
  123,IDM_WINDOW_PROJECT,VIRTKEY,NOINVERT,CONTROL
  123,IDM_WINDOW_PROPERTY,VIRTKEY,NOINVERT,SHIFT
  123,IDM_WINDOW_OUTPUT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  113,IDM_EDIT_FIND_NEXT_WORD,VIRTKEY,NOINVERT,SHIFT,CONTROL
  69,IDM_EDIT_EMPTY_UNDO,VIRTKEY,NOINVERT,SHIFT,CONTROL
  82,IDM_FILE_REOPENFILE,VIRTKEY,NOINVERT,SHIFT,CONTROL
  66,IDM_EDIT_BLOCKMODE,VIRTKEY,NOINVERT,CONTROL
  113,IDM_EDIT_FIND_PREV_WORD,VIRTKEY,NOINVERT,ALT
  87,IDM_VIEW_FULLSCREEN,VIRTKEY,NOINVERT,CONTROL
END
