#define IDM_USERBTN1					29991
#define IDM_USERBTN2					29992
STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_PRINT			"Print"
  IDM_FILE_NEWFILE			"New File"
  IDM_FILE_OPENFILE			"Open File"
  IDM_FILE_SAVEFILE			"Save File"
  IDM_FILE_SAVEALLFILES		"Save All Files"
  IDM_EDIT_CUT				"Cut"
  IDM_EDIT_COPY				"Copy"
  IDM_EDIT_PASTE			"Paste"
  IDM_EDIT_UNDO				"Undo"
  IDM_EDIT_REDO				"Redo"
  IDM_EDIT_DELETE			"Delete"
  IDM_EDIT_FIND				"Find"
  IDM_EDIT_REPLACE			"Replace"
  IDM_VIEW_OUTPUTWINDOW		"Show/Hide Output"
  IDM_VIEW_PROJECTBROWSER	"Show/Hide Project"
  IDM_VIEW_TOOLBOX			"Show/Hide Toolbox"
  IDM_VIEW_PROPERTIES		"Show/Hide Properties"
  IDM_MAKE_ASSEMBLE			"Assemble"
  IDM_MAKE_BUILD			"Build"
  IDM_MAKE_GO				"Go"
  IDM_MAKE_RUN				"Run"
  IDM_EDIT_TOGGLEBM			"Toggle Bookmark"
  IDM_EDIT_NEXTBM			"Next Bookmark"
  IDM_EDIT_PREVIOUSBM		"Previous Bookmark"
  IDM_EDIT_CLEARBM			"Clear All Bookmarks"
  1							"Topmost File"
  2							"Open Files"
  3							"Selected Project File"
  4							"All Project Files"
  5							"Refresh"
  11						"Project Browser"
  12						"Project Groups"
  13						"File Browser"
  14						"File Filter"
  15						"Up One Level"
  16						"Previous Folder"
  17						"Next Folder"
  IDM_USERBTN1				"User button#1"
  IDM_USERBTN2				"User button#2"
  IDM_FORMAT_INDENT			"Indent"
  IDM_FORMAT_OUTDENT		"Outdent"
  IDM_FORMAT_COMMENT		"Comment"
  IDM_FORMAT_UNCOMMENT		"Uncomment"
  18						"Expand / Collapse"
END
