#define IDI_MDIICO						100
#define IDB_MDITBR						101
#define IDB_PROWIZ						103
#define IDB_TOOLBOX						104
#define IDB_CUSTCTL						106
#define IDC_SPLICURV					150
#define IDC_SPLICURH					151
IDI_MDIICO				ICON      DISCARDABLE "Res/RadAsm.ico"
IDB_MDITBR				BITMAP    DISCARDABLE "Res/MdiTbr256.bmp"
IDB_PROWIZ				BITMAP    DISCARDABLE "Res/ProWiz.bmp"
IDB_TOOLBOX				BITMAP    DISCARDABLE "Res/ToolBox.bmp"
IDB_CUSTCTL				BITMAP    DISCARDABLE "Res/BUTTON.bmp"
IDC_SPLICURV			CURSOR    DISCARDABLE "Res/SplitV.cur"
IDC_SPLICURH			CURSOR    DISCARDABLE "Res/SplitH.cur"
