STRINGTABLE DISCARDABLE
BEGIN
  301						"Edit"
  302						"Static"
  303						"Button"
  304						"Button"
  305						"Button"
  306						"Button"
  307						"ComboBox"
  308						"ListBox"
  309						"ScrollBar"
  310						"ScrollBar"
  311						"SysTabControl32"
  312						"msctls_progress32"
  313						"SysTreeView32"
  314						"SysListView32"
  315						"msctls_trackbar32"
  316						"msctls_updown32"
  317						"Static"
  318						"ToolBarWindow32"
  319						"StatusBar32"
  320						"SysDateTimePick32"
  321						"SysMonthCal32"
  322						"RichEdit20A"
  323						"UDDCLASS"
  324						"ComboBoxEx32"
  325						"Static"
  326						"SysIPAddress32"
  327						"SysAnimate32"
  328						"msctls_hotkey32"
  329						"SysPager"
  330						"SysPager"
  331						"ReBarWindow32"
END
