
#define IDI_MAINICO				100
#define IDC_VSPLITCUR			150
#define IDB_TRVBITMAP			200

IDI_MAINICO		ICON	DISCARDABLE	Res\RADASM.ICO
IDC_VSPLITCUR	CURSOR	DISCARDABLE	Res\VSplit.cur
IDB_TRVBITMAP	BITMAP	DISCARDABLE	Res\TRV.BMP

#include <Res\TreeViewDirMnu.rc>
#include <Res\TreeViewDirDlg.rc>
