#define IDR_MENU 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_SAVE 10002
#define IDM_FILE_EXIT 10003
IDR_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "&Save",IDM_FILE_SAVE
    MENUITEM "",,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
END
