#define IDD_TABOPT1 200
#define IDC_CHKADDDLG 201
#define IDC_CHKADDMNU 202
#define IDC_CHKADDRES 203
#define IDC_CHKADDVERRC 204
#define IDC_CHKADDFILE 205
#define IDC_CHKADDFOLDER 206
#define IDC_CHKADDSTRRC 207
#define IDC_CHKADDRESRC 208
#define IDC_CHKADDLNGRC 209
#define IDC_CHKADDACLRC 210
IDD_TABOPT1 DIALOGEX 2,13,188,76
FONT 8,"MS Sans Serif",0,0
STYLE 0x40000000
EXSTYLE 0x00000000
BEGIN
  CONTROL "Auto add dialog",IDC_CHKADDDLG,"Button",0x50010003,6,5,90,9,0x00000000
  CONTROL "Auto add menu",IDC_CHKADDMNU,"Button",0x50010003,6,18,90,9,0x00000000
  CONTROL "Auto update resource",IDC_CHKADDRES,"Button",0x50010003,6,31,90,9,0x00000000
  CONTROL "Auto create Res folder",IDC_CHKADDFOLDER,"Button",0x50010003,6,44,90,9,0x00000000
  CONTROL "Auto add main RC file",IDC_CHKADDFILE,"Button",0x50010003,6,57,90,9,0x00000000
  CONTROL "Auto add accelerator",IDC_CHKADDACLRC,"Button",0x50010003,98,5,90,9,0x00000000
  CONTROL "Auto add resources",IDC_CHKADDRESRC,"Button",0x50010003,98,18,90,9,0x00000000
  CONTROL "Auto add string table",IDC_CHKADDSTRRC,"Button",0x50010003,98,31,90,9,0x00000000
  CONTROL "Auto add versioninfo",IDC_CHKADDVERRC,"Button",0x50010003,98,44,90,9,0x00000000
  CONTROL "Auto add language",IDC_CHKADDLNGRC,"Button",0x50010003,98,57,90,9,0x00000000
END
