#define IDR_MENU 10000
IDR_MENU MENUEX
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "&Open",10001
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",10002
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",10003
  END
END
